
.view{
  margin-left: 30px;
}

ul.tabs{
  margin: 0px;
  padding: 0px;
  list-style: none;
  background-color: green;
}
ul.tabs li{
  background: none;
  font-size: 20px;
  color: #222;
  display: inline-block;
  padding:30px;
  cursor: pointer;
  width:50px;
}

ul.tabs li.current{
  background: #fff;
  color: #222;
}
