<!DOCTYPE html>

<html lang="en" ng-app="tvGuide" class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>TV Guide</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="app.css">
  <link rel="stylesheet" href="guide/guide.css">
</head>
<body ng-controller='MainController as main'>
    
  <div id="tabs">
    <ul class="tabs">
      <li class="tabs"><a href="" ng-click="main.loadGuide()">Guide</a></li>
      <li class="tabs"><a href="" ng-click="main.loadSearch()">Search</a></li>
    </ul>
  </div>

  <div class="view" ng-view></div>

  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="app.js"></script>
  <script src="MainController.js"></script>
  <script src="model/schedule.js"></script>
  <script src="model/request.js"></script>
  <script src="episodes/episodes.js"></script>
  <script src="episodes/EpisodesController.js"></script>
  <script src="guide/guide.js"></script>
  <script src="guide/guideProgram.js"></script>
  <script src="guide/GuideController.js"></script>
  <script src="search/search.js"></script>
  <script src="search/SearchController.js"></script>
</body>
</html>
