.channel  {
	padding: 10px;
  	border: solid 2px blue;
}

.prog  {
	padding: 5px;
	width:400px;
  	border: solid 1px black;
}

.left-div {
    float: left;
    width: 200px;
    margin-right: 8px;
}
.right-div {
	width: 200px;
    margin-left: 218px;
}