

<form novalidate>
    Date: <input type="date" ng-model="guideCtrl.date" required ng-change="guideCtrl.getChannels(guideCtrl.date)"/>
    
</form>

 <h2 ng-if="guideCtrl.noData">No schedule found for {{guideCtrl.scheduleDate | date:'MM/dd/yyyy'}}</h2>

<div ng-if="!guideCtrl.noData">
    <h2>Schedule for {{guideCtrl.scheduleDate | date:'MM/dd/yyyy'}}</h2>

    <table>
        <tbody>
            <tr ng-repeat="channel in guideCtrl.channels">
                <td class="channel">
                    {{channel.channelName}}
                </td>
                <td class="event" ng-repeat="event in channel.events">
                    {{event | program}}
                </td>
            </tr>
        </tbody>
    </table>
</div>