<form ng-submit="guideCtrl.getChannels()" novalidate>
    Date: <input type="date" ng-model="guideCtrl.date" required/>
    <input type="submit" value="Get Schedule" />
</form>

 <h2 ng-if="guideCtrl.noData">No schedule found for {{guideCtrl.scheduleDate | date:'MM/dd/yyyy'}}</h2>

<div ng-if="!guideCtrl.noData">
    <h2>Schedule for {{guideCtrl.scheduleDate | date:'MM/dd/yyyy'}}</h2>
    <table>
        <tbody>
            <tr ng-repeat="channel in guideCtrl.channels">
                <td class="channel">
                    {{channel.channelName}}
                </td>
                <td class="prog" ng-repeat="program in channel.programs">
                    <guide-program program='program'/>
                </td>
            </tr>
        </tbody>
    </table>
</div>